/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}





/* LAYOUT */

.container-sm{
width: 1000px;

}

.container-md{
    width: 1220px;

}

.container-lg{
width: 100%;

}

.container-sm, .container-md, .container-lg{
    margin: 0 auto;
}



/* HEADER */

.row-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    
}


.row-header .col-4 ul{
    display: flex;
    gap: 20px;
    align-items: center;
}


.blue-button{
    border: none;
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px 15px;
   
}



/* HERO SECTION*/

.hero{
    background-color: rgb(180, 208, 231);
}

.container-md h1{
    font-size: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.row-hero .col-4 > p, div, .blue-button {
    font-size: 20px;
    
}


.row-hero .col-4 i{
    font-size: 50px;
    padding-bottom: 15px;
    margin-top: auto;
}

.row-hero{
    display: flex;
}


.row-hero .col-4{
    width: calc(4 * 100% / 12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
}


.row-hero .col-8{
    width: calc(8 * 100% / 12);
}





/* SUBSCRIPTION SECTION */


    /* Top part of subscription section */

.subscription-title{
    font-size: 50px;
    margin-bottom: 50px;
}


.subscription label{
    margin-right: 40px;
}


.margin-bottom{
    margin-bottom: 50px;
}

.padding-top{
    padding-top: 80px;
}


    /* Bottom part of subscription section */


.row-subscription{
    display: flex;
    flex-wrap: wrap;
}

    
.row-subscription .col-4{
    width: calc(4 * 100% / 12);
    
    padding: 0 20px;
}

.row-subscription .col-12{
    width: 100%;
    margin-top: 50px;
}


.plan-content-header h4{
    text-align: center;
    padding: 10px 0;
    border: 1px solid #dedede;
}

.plan-content-body{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border: 1px solid #dedede;
}

.plan-content-body > div{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.plan-content-body{
    padding: 50px 30px;
}


.subscription-list,
.subscription-points{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.blue-check{
    color: blue;
}



.plan-content-body-horizontal{
    display: flex;
    gap: 100px;
    padding: 20px;
    align-items: baseline;
    border: 1px solid #dedede;
}


.plan-content-body-horizontal .col-9 > div, h2{
    padding: 20px 0;
}





/* PARTNER SECTION */

.partner-section{
    padding-top: 150px;
    padding-bottom: 150px;
}


.row-parnter-section{
    display: flex;
}

.row-parnter-section .col-5{
    width: calc(5 * 100% / 12);
    padding: 50px;
}

.row-parnter-section .col-7{
    width: calc(7 * 100% / 12);
}

.row-parnter-section .col-5 >*{
    margin-bottom: 20px;
}

.row-parnter-section .col-5 button{
 padding: 10px;   
}






/* OPERATION SECTION */

.operation-section-title{
    margin-bottom: 40px;
}



.row-operation-section{
    display: flex;
    flex-wrap: wrap;
}

.row-operation-section .col-4{
    width: calc(4 * 100% / 12);
    padding: 15px;
}


.row-operation-section .col-4 h3, p{
    margin-bottom: 40px;
}














/* DEBUG */


/* .debug header{
    border: 3px solid black;
}

.debug .container-md{
    border: 3px solid green;
}

.debug .col-4, .debug .col-8{
    border: 2px solid red;
} */