/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img {
	max-width: 100%;
    min-width: 50px
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}





/* LAYOUT */

.container-sm{
width: 1000px;

}

.container-md{
    width: 1220px;

}

.container-lg{
width: 100%;

}

.container-sm, .container-md, .container-lg{
    margin: 0 auto;
}



/* HEADER */

.row-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    
}


.row-header .col-4 ul{
    display: flex;
    gap: 20px;
    align-items: center;
}


.blue-button{
    border: none;
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px 15px;
   
}



/* HERO SECTION*/

.hero{
    background-color: rgb(180, 208, 231);
}

.container-md h1{
    font-size: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.row-hero .col-4 > p, div, .blue-button {
    font-size: 20px;
    
}


.row-hero .col-4 i{
    font-size: 50px;
    padding-bottom: 15px;
    margin-top: auto;
}

.row-hero{
    display: flex;
}


.row-hero .col-4{
    width: calc(4 * 100% / 12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
}


.row-hero .col-8{
    width: calc(8 * 100% / 12);
}





/* SUBSCRIPTION SECTION */


    /* Top part of subscription section */

.subscription-title{
    font-size: 50px;
    margin-bottom: 50px;
}


.subscription label{
    margin-right: 40px;
}


.margin-bottom{
    margin-bottom: 50px;
}

.padding-top{
    padding-top: 80px;
}


    /* Bottom part of subscription section */


.row-subscription{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

    
.row-subscription .col-4{
    width: calc(4 * 100% / 12);
    padding: 0 20px;
}

.row-subscription .col-12{
    width: 100%;
}

.plan-content-horizontal{
    border: 1px solid #dedede;
}


.plan-content-header h4{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}

.plan-content-body{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
}

.plan-content{
    border: 1px solid #dedede;
    height: 100%;
}

.plan-content-body > div{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.plan-content-body{
    padding: 50px 30px;
}


.plan-content-body div hr{
    width: 30%;
}

.subscription-list,
.subscription-points{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}


.subscription-list li,
.subscription-points li{
    display: flex;
    gap: 10px;
}

.blue-check{
    color: blue;
}



.plan-content-body-horizontal{
    display: flex;
    gap: 100px;
    padding: 20px;
    align-items: baseline;
    
}


.plan-content-body-horizontal .col-9 > div,
.plan-content-body-horizontal .col-9 h2{
    padding: 20px 0;
}




/* PARTNER SECTION */

.partner-section{
    margin-top: 150px;
    margin-bottom: 150px;
}


.row-parnter-section{
    display: flex;
}

.row-parnter-section .col-5{
    width: calc(5 * 100% / 12);
    padding: 50px;
}

.row-parnter-section .col-7{
    width: calc(7 * 100% / 12);
}

.row-parnter-section .col-5 >*{
    margin-bottom: 20px;
}

.row-parnter-section .col-5 button{
 padding: 10px;   
}






/* OPERATION SECTION */

.operation-section-title{
    margin-bottom: 40px;
}



.row-operation-section{
    display: flex;
    flex-wrap: wrap;
}

.row-operation-section .col-4{
    width: calc(4 * 100% / 12);
    padding: 15px;
}


.row-operation-section .col-4 h3, p{
    margin-bottom: 40px;
}

.operation-section{
    margin-bottom: 150px;
}




/* TEAM SECTION */


.team-section{
    margin-bottom: 150px;
}

.team-section h2{
    font-size: 48px;
}

.team-section .container-sm h2{
    margin-bottom: 30px;
}



/* CUSTOMER SECTION */


.row-customer-section{
    display: flex;
    flex-wrap: nowrap;
}



.row-customer-section .col-4{
    width: calc(4 * 100% / 12);
}



/* customer section left and right side */


.customer-section-side{
    display: flex;
    flex-wrap: wrap;
}


.customer-section-side .col-6{
    width: calc(6 * 100% / 12);
    height: 300px;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    
}


.customer-section-side .col-6:nth-child(1){
    background-color: rgb(162, 211, 155);
    
}


.customer-section-side .col-6:nth-child(2){
background-color: rgb(97, 8, 43);
}


.customer-section-side .col-6:nth-child(3){
    background-color: rgb(0, 147, 206);
}
    

.customer-section-side .col-6:nth-child(4){
    background-color: rgb(255, 28, 28);
}


.customer-section-side-left .col-6:nth-child(1){
    background-color: rgb(255, 28, 28);
}


.customer-section-side-left .col-6:nth-child(2){
    background-color: rgb(180, 208, 231);
}


.customer-section-side-left .col-6:nth-child(3){
    background-color: rgb(13, 36, 129);
}


.customer-section-side-left .col-6:nth-child(4){
    background-color: rgb(255, 216, 48);
}





/* customer section center */

.customer-section-center img{
    width: 50%;
    margin-bottom: 30px;
}

.customer-section-center{
    padding: 50px;
}


.customer-section-center hr{
    margin-bottom: 30px;
    width: 30%;
}





/* FREE TRIAL SECTION */


.free-trial-section{
    background-color: rgb(180, 208, 231);
    padding: 70px 0;
}


.free-trial-section .container-sm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    

}

.free-trial-section-title{
    padding: 50px;
    color: rgb(97, 8, 43);
    font-size: 35px;

}



.free-trial-section-button button{
    padding: 15px 40px;
}




/* FAQ SECTION */

.faq-section{
    padding: 150px 0;
}

.faq-section .question{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #dedede;
    padding: 40px 0;
}


.faq-section-title{
    border-bottom: 2px solid #dedede;
    padding-bottom: 60px;
}



/* FOOTER */

footer{
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

    /* Footer options */

.row-footer-options{
display: flex;
flex-wrap: wrap;

}


.row-footer-options .col-20{
    width: 20%;
    padding: 0 30px;
}

.row-footer-options .col-20 h3{
    margin-bottom: 30px;
}


.row-footer-options-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 15px;
}

.row-footer-options .col-20 hr{
    margin-top: 50px;
    width: 90%;
}


    /* Footer language */


.footer-language .container-md{
    padding-left: 30px;
    padding-top: 50px;
}